@import '../../../../sass_library/all';

main.work section.intro {
	margin-bottom: $p-spacing-largest;
	padding-bottom: $p-spacing-largest;
	
	p {
		margin-bottom: 0;
		font-size: $p-font-size-h3;
		text-align: center;
		line-height: 1.6;
	}
}
