$p-font-size-base: 16px;
$p-font-size-minor: 14px;
$p-font-size-major: 18px;

$p-font-size-title: 36px;

$p-font-size-h1: 28px;
$p-font-size-h2: 24px;
$p-font-size-h3: 20px;


$p-spacing-smaller: 4px;
$p-spacing-small: 8px;
$p-spacing-default: 12px;
$p-spacing-large: 24px;
$p-spacing-larger: 36px;
$p-spacing-largest: 48px;
