@import '../../../../sass_library/all';

main.work section.partners {
	box-shadow: inset 0 1px 6px transparentize($cg-shadow, 0.8);
	background: $cp-work-models-partners-background;
	
	h2 { margin-bottom: $p-spacing-larger * 2; }
		
	ul {
		$card-size: 270px;
		$card-spacing: $p-spacing-large;
		$card-offset: $card-size + $card-spacing;
		
		$number-of-items: 6;
		
		$animation-duration: 4 * $number-of-items;
		$animation-delay: $animation-duration / $number-of-items;
		$offset-limit: -$card-offset;
		
		-webkit-mask-image: linear-gradient(to left, transparent 0%, #000 20%, #000 80%, transparent 100%);
		mask-image: linear-gradient(to left, transparent 0%, #000 20%, #000 80%, transparent 100%);
		margin-left: -110px;
		overflow: hidden;
		width: calc(100% + 220px);
		
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: content-box;
		position: relative;
		height: $card-size;
		padding: $p-spacing-default 0;
		
		@for $i from 1 through $number-of-items {
			@keyframes loop {
				0% {transform: translateX($card-offset * $number-of-items);}
				100% {transform: translateX($offset-limit);}
			}
			
			li:nth-of-type(#{$i}) {
				transform: translateX($card-offset * ($i - 1));
				animation: loop #{$animation-duration}s #{($i - $animation-duration) * $animation-delay}s linear infinite;
			}
		}
		
		li {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			box-sizing: border-box;
			width: $card-size;
			height: $card-size;
			padding: $p-spacing-default;
			border-radius: 12px;
			background: $cg-page-background;
			text-align: center;
			box-shadow: -1px 1px 6px transparentize($cg-shadow, 0.8);
			
			.graphic {
				margin-bottom: $p-spacing-small;
				width: 100%;
				height: 120px;
				
				&.portrait {
					width: 120px;
					border-radius: 60px;
					overflow: hidden;
					
					img {
						object-fit: cover;
						box-shadow: inset 1px 2px 3px transparentize($cg-shadow, 0.6);
					}
				}
				
				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
			
			h3 {
				margin-bottom: $p-spacing-smaller;
				font-weight: bold;
				color: $cp-work-models-partners-headline;
			}
			h4 { font-size: $p-font-size-base }
			
			p,
			a {
				margin-top: $p-spacing-default;
				margin-bottom: 0;
				font-size: $p-font-size-minor;
				color: $cp-work-models-partners-bonus-text;
			}
		}
	}
}
