@import '../../../../sass_library/all';

main.studies section.quote {
	display: block;
	position: relative;
	z-index: 1;
	padding-top: $p-spacing-larger * 2;
	padding-bottom: $p-spacing-largest * 2;
	background: transparent;
	text-align: center;
	color: $cg-text-dark;
	transform: skewY(-3deg);

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
	&::before {
		background: $cp-home-quote-background;
		box-shadow: inset 0 1px 6px transparentize($cg-shadow, 0.4);
	}
	&::after {
		background: url('assets/patterns/splash.png') center/cover;
		opacity: 0.08;
	}

	.wrapper {
		display: block;
		transform: skewY(3deg);
		text-shadow: -1px 2px 4px transparentize($cg-shadow, 0.74);

		h2 {
			font-size: $p-font-size-h2;
			font-weight: bold;
			color: $cg-text-dark;

			span {
				font-size: $p-font-size-h3;
				font-weight: regular;
			}

			@include mq($mq2) { font-size: $p-font-size-h3; }
			@include mq($mq3) {
				font-size: $p-font-size-major;

				span {
                    font-size: $p-font-size-major;
                    font-weight: regular;
                }
			}

			&::after {
				width: 75px;
				margin-bottom: $p-spacing-large;
				background: $cg-headline-stroke-dark;
			}
		}

		div.portrait {
			width: 120px;
			height: 120px;
			margin: 0 auto $p-spacing-large;
			border-radius: 60px;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				box-shadow: inset 1px 2px 3px transparentize($cg-shadow, 0.6);
			}
		}

		blockquote {
			margin: 0 auto;
			max-width: 800px;
			font-size: $p-font-size-h3;
			font-style: italic;
			letter-spacing: 0.08em;
			line-height: 1.57;

			@include mq($mq3) { font-size: $p-font-size-major; }

			&::before,
			&::after {
				content: '"';
				margin: 0 -4px;
			}
		}
	}
}
