@import '../../../../sass_library/all';

main.work section.models {
	padding-top: 0;
	
	ul {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		
		li {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			box-sizing: border-box;
			width: 22%;
			margin: 0 1.5%;
			padding: $p-spacing-large;
			border-radius: 12px;
			text-align: center;
			background: $cp-work-models-model-background;
			box-shadow: -1px 2px 4px transparentize($cg-shadow, 0.8);
			
			@include mq(1000) {
				width: 30%;
				margin: 0 10% $p-spacing-largest;
			}
			@include mq($mq2) {
				width: 40%;
				margin: 0 5% $p-spacing-larger;
			}
			@include mq(590) {
				width: 80%;
				margin: 0 10% $p-spacing-larger;
			}
			@include mq(375) {
				width: 90%;
				margin: 0 5% $p-spacing-larger;
			}
			
			&::after {
				content: '';
				display: block;
				margin: 0 auto;
				width: 130px;
				height: 130px;
				
				@include mq($mq2) {
					width: 100px;
					height: 100px;
				}
				@include mq(375) {
					width: 80px;
					height: 80px;
				}
			}
			
			&.fixed:after { background: url('assets/icons/negotiation.svg') no-repeat center/contain; }
			&.hourly:after { background: url('assets/icons/hourly.svg') no-repeat center/contain; }
			&.result:after { background: url('assets/icons/economy-level.svg') no-repeat center/contain; }
			&.consultant:after { background: url('assets/icons/recruitment.svg') no-repeat center/contain; }
			
			h3 {
				position: relative;
				margin-bottom: $p-spacing-default;
				font-size: $p-font-size-major;
				font-weight: bold;
				color: $cp-work-models-model-headline;
				height: 3.2em;
				
				&::after {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 60%;
					height: 1px;
					background: $cg-headline-stroke-light;
					transform: translate(-50%, -50%);
					
				}
			}
			
			p { font-size: $p-font-size-base; }
		}
	}
}
